<h2>Template Control Flow</h2>

<h3>for</h3>

@for( item of itens;track item.name; let i= $index; let c = $count; let
f=$first; let l = $last;let e = $even; let o = $odd; ){
<p>{{ item.name }}</p>
<p>index - {{ i }}</p>
<p>count - {{ c }}</p>
<p>first - {{ f }}</p>
<p>last - {{ l }}</p>
<p>even- {{ e }}</p>
<p>odd - {{ o }}</p>

}

<input #t type="text" />
<button (click)="addItem(t.value)">ADD</button>

<!-- ==================================================== -->
<ul>
  @for (item of itens; track item.name) {
  <li>{{ item.name }}</li>
  }@empty {
  <li>Não contém valores</li>
  }
</ul>

<!-- =============================== -->

@switch (switchCondition) {


  @case ('A') {

    <p>Teste a</p>
  }
  @case ('b') {

    <p>Teste a</p>
  }

  @default {
    <p>nao encontramos os dados
      
    </p>
  }
}
